<h1>日記編集</h1>
<%= form_with model: @diary, method: :put do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.label :image %>
    <% if @diary.image.attached? %>
      <%= image_tag @diary.image, width: 200, height: 200 %>
    <% end %>
  <%= f.file_field :image %>
  <% if @diary.image.attached? %>
    <%= f.check_box :remove_image %>
    画像を削除する
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
