<div class="user-content index-diary">
  <div class="show_wrapper">
    <div class="title_style">
      <h2 class="title"><i class="fas fa-angle-right space"></i>みんなの日記</h2>
        <%= link_to new_diary_path, class: "link" do %>
          <i class="fa fa-edit" aria-hidden="true"></i>
          <span class="pc_character">日記を投稿</span>
          <span class="smart_character">投稿</span>
        <% end %>
    </div>
    <div class="content_show">
      <% @diaries.each do |diary| %>
        <div class="content">
          <%= link_to user_path(diary.user.id), class: "link" do %>
            <div class="diary_user">
              <div class="user_icon">
                <% if diary.user.image? %>
                  <%= image_tag diary.user.image_url(:thumb30), class: "user_icon_tag" %>
                <% else %>
                  <%= image_tag 'default.png', :size =>'30x30', class: "user_icon_tag" %>
                <% end %>
              </div>
              <div class="user_name">
                <%= diary.user.name %>
              </div>
            </div>
          <% end %>
          <%= link_to diary_path(diary), class: "link" do %>
            <img src="<%= diary.image %>" class="diary_image" alt="日記画像">
            <li class="diary_content"><%= diary.content %></li>
          <% end %>
          <div class="diary_info">
            <div class="diary_like">
              <i class="fa fa-heart heart_red" aria-hidden="true"></i>
              <%= diary.likes.count %>
            </div>
            <div class="diary_day">
              <%= l diary.created_at %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
