<%= javascript_include_tag 'diary/edit.js' %>
<div class="user-content show-diary">
  <div class="show_wrapper">
    <div class="content_show">
        <div class="content">

          <div class="diary-title">
            <%= link_to user_path(@diary.user.id), class: "link" do %>
              <div class="diary_user">
                <div class="user_icon">
                  <% if @diary.user.image? %>
                    <%= image_tag @diary.user.image_url(:thumb30), class: "user_icon_tag" %>
                  <% else %>
                    <%= image_tag 'user_image.png', :size =>'30x30', class: "user_icon_tag" %>
                  <% end %>
                  <span class="user_name">
                    <%= @diary.user.name %>
                  </span>
                </div>
              </div>
            <% end %>
            <% if user_signed_in? && current_user.id == @diary.user_id %>
              <div class="diary-edit-menu">
                <i class="fas fa-ellipsis-h color"></i>
              </div>
              <div class="edit-menu">
                <li><%= link_to "編集", edit_diary_path, class: "link" %></li>
                <li><%= link_to "削除", diary_path(@diary), method: :delete, class: "link" %></li>
              </div>
            <% end %>
          </div>
          <%= link_to diary_path(@diary), class: "link" do %>
            <img src="<%= @diary.image %>" class="diary_image" alt="日記画像">
            <li class="diary_content"><%= @diary.content %></li>
          <% end %>
          <div class="diary_info">
            <div class="like-user">
              <%# <i class="fa fa-heart heart_red" aria-hidden="true"></i>
              <%= @diary.likes.count %>
              <%# <div id="like_area" %>
                <%= render partial:'diaries/likes'%>
              <%# </div> %>
            </div>
            <div class="diary_day">
              <%= l @diary.created_at %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
