<div>
  <h2>ユーザー情報</h2>
  <p>こんにちは<%= @user.id %>さん</p>
  <%= @user.email %>
</div>
<div>
  <h2>投稿一覧</h2>
    <div>
      <%= link_to "日記投稿", new_diary_path %>
    </div>
    <% @diaries.each do |diary| %>
      <p><%= diary.content %></p>
    <% end %>
</div>
<div class="">
  <h2>いいねした投稿</h2>
  <% @user.liked_diaries.each do |diary| %>
    <%= link_to diary_path(diary) do %>
      <%= image_tag diary.image_url(:thumb200) %>
    <% end %>
  <% end %>
</div>

<div>
  <h2>エクササイズ</h2>
  <%= link_to "新規エクササイズ登録", new_exercise_path, class: "" %>
  <% @exercises.each do |exercise| %>
    <div>
      <%= exercise.part %>
      <%= exercise.level %>
    </div>
  <% end %>
</div>

<div>
  <h2>スケジュール管理</h2>
  <%= link_to "新規スケジュール設定", new_schedule_path, class: "" %>
  <% @schedules.each do |schedule| %>
    <div>
      <%= link_to edit_schedule_path(schedule), class: '' do %>
        <%= schedule.training_date %>
        <%= schedule.part %>
        <%= schedule.work %>
        <%= schedule.shape %>
      <% end %>
    </div>
  <% end %>
</div>
