<div class="user-content schedule-index schedule-edit">
  <div class="show_wrapper other_show schedule_show">
    <%= form_with model: @schedule, local: true, method: :patch do |f| %>
      <div class="">
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.text_field :user_id, value: current_user.id, class: 'user_id' %>
      </div>
      <table class="schedule_content">
        <tr>
          <th class="schedule_day">日付</th>
          <th class="schedule_day">部位</th>
          <th class="schedule_day">仕事</th>
          <th class="schedule_day">体調</th>
        </tr>
        <tr class="each-form">
          <td class="schedule_day day">
            <%= raw sprintf(
              f.date_select(
                :training_date,
                {
                  :discard_year => true,
                  default: Date.today,
                  date_separator: '%s',
                  datetime_separator: '%s',
                },
                {class: 'form-control form-day' }
                ),
                '/') %>
          </td>
          <td class="schedule_day">
            <%= f.text_field :user_id, value: current_user.id, class: 'user_id' %>
            <%= f.select :part, ["二の腕", "お腹", "胸", "足"],
                {include_blank: "---"}, {class: 'form-control' } %>
          </td>
          <td class="schedule_day">
            <%= f.select :work, ["早番", "遅番", "休み"],
                {include_blank: "---"}, {class: 'form-control' } %>
          </td>
          <td class="schedule_day">
            <%= f.select :shape, ["良い", "不調"],
                {include_blank: "---"}, {class: 'form-control' } %>
          </td>
        </tr>
      </table>
      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

