<h1>スケジュール一覧</h1>
<%= link_to "新規スケジュール設定", new_schedule_path, class: "" %>
<% @schedules.each do |schedule| %>
  <div>
  <%= link_to edit_schedule_path(schedule), class: '' do %>
    <%= schedule.training_date %>
    <%= schedule.part %>
    <%= schedule.work %>
    <%= schedule.shape %>
  <% end %>
  </div>
<% end %>
