<%= form_for(@schedule, url: schedules_path, method: :post) do |fb| %>
  <table class="table">
    <thead>
      <tr>
        <th>実施予定日</th>
        <th>エクササイズ</th>
        <th>仕事</th>
        <th>体調</th>
      </tr>
    </thead>
    <tbody>
    <% i = 0 %>
      <%= fb.fields_for :schedules do |f| %>
        <tr class="item">
          <td>
            <% i += 1 %>
            <%= raw sprintf(
              f.date_select(
                  :training_date,
                  {
                    :discard_year => true,
                    default: Date.today + i.day,
                    date_separator: '%s',
                    datetime_separator: '%s',
                  },
                  {class: 'form-control' }
                  ),
                  '月') + '日'
              %>
              <%= f.text_field :user_id, value: current_user.id, class: 'user_id' %>
          </td>
          <td class="text-center">
            <%= f.select :part, ["二の腕", "お腹", "胸", "足"],
              {include_blank: "---"} %>
          </td>
          <td class="text-center">
            <%= f.select :work, ["早番", "遅番", "休み"],
              {include_blank: "---"} %>
          </td>
          <td class="text-center">
            <%= f.select :shape, ["良い", "不調"],
              {include_blank: "---"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= fb.submit '登録', class: 'btn btn-primary' %>
  </div>
<% end %>
