<%= form_for(@schedule, url: schedules_path, method: :post) do |fb| %>
  <table class="table">
    <thead>
      <tr>
        <th>エクササイズ</th>
        <th>実施予定日</th>
      </tr>
    </thead>
    <tbody>
    <% i = 0 %>
      <%= fb.fields_for :schedules do |f| %>
        <tr class="item">
          <td class="text-center">
            <%= f.text_field :exercise, class: 'form-control' %>
          </td>
          <td>
            <% i += 1 %>
            <%= raw sprintf(
              f.date_select(
                  :training_date,
                  {
                    :discard_year => true,
                    default: Date.today + i.day,
                    date_separator: '%s',
                    datetime_separator: '%s',
                  },
                  {class: 'form-control' }
                  ),
                  '月') + '日'
              %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= fb.submit '登録', class: 'btn btn-primary' %>
  </div>
<% end %>
