<div class="character-show">
  <p><%= "ユーザーレベル#{@level}" %><p>
  <div class="character">
    <%= image_tag @character.image, :size =>'300x300' %>
  </div>
  <div class="good-message">
    <%= "今日はトレーニング#{@count.day}日目！" %>
    <%= @count.day.in?([1,3,6,10,15,18])?
        "おめでとうございます！成長しました！":"" %>
  </div>
  <div class="level_up_day">
    <%= "あと#{@level_up_day}日トレーニングを続けるとレベルアップ！" %>
  </div>
</div>


<%= javascript_include_tag 'diary/height.js' %>

<%= form_with model: @diary, local: true, method: :post do |f| %>
  <div class="user-content show-diary edit-diary">
    <div class="show_wrapper">
      <div class="content_show">
        <div class="content">
          <div class="diary-title">
            <div class="diary_user">
              <div class="user_icon">
                <% if current_user.image? %>
                  <%= image_tag current_user.image_url(:thumb30), class: "user_icon_tag" %>
                <% else %>
                  <%= image_tag 'default.png', :size =>'30x30', class: "user_icon_tag" %>
                <% end %>
                <span class="user_name">
                  <%= "今日の記録を残そう" %>
                </span>
              </div>
            </div>
          </div>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="">
            <%= f.label :image, {class: "content-label"} %>
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
          </div>
          <div class="">
            <%= f.label :content, "今日の日記", {class: "content-label"}  %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="diary_info">
            <div class="diary-submit">
              <%= f.submit "投稿する", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



