<%= javascript_include_tag 'exercise/edit.js' %>
<div class="header-image">
  <div class="header-word">
    <h5>Continue training at home</h5>
    <h2>家でもジムと同等の継続体験を</h2>
  </div>
</div>

<div class="question-wrapper">
  <h1 class="question-title">いつもの家トレで<br>こんな想いをしたことありませんか？</h1>
  <ul class="image-wrapper">
    <li>
      <%= image_tag 'index/cheering.png', class: "question-image" %>
      <p>一緒に頑張る<br>仲間がいない<p>
    </li>
    <li>
      <%= image_tag 'index/yoga.png', class: "question-image" %>
      <p>同じトレーニングで<br>飽きる<p>
    </li>
    <li>
      <%= image_tag 'index/work.png', class: "question-image" %>
      <p>いつも仕事で<br>疲れてしまう<p>
    </li>
    <li>
      <%= image_tag 'index/schedule.png', class: "question-image" %>
      <p>毎日継続できない<p>
    </li>
    <li>
      <%= image_tag 'index/smartphone.png', class: "question-image" %>
      <p>トレーニングを<br>選ぶのも面倒<p>
    </li>
  </ul>
</div>
<div class="result-wrapper">
  <ul class="results">
    <h1>HomeGym Service</h1>
    <li class="result">
      <div class="result-numbers">
        <span class="result-number">1</span>
      </div>
      <div class="title-wrapper">
        <span class="result-title">トレーニング時間になったら通知が届く！</span>
      </div>
    </li>
    <li class="result">
      <div class="result-numbers">
        <span class="result-number">2</span>
      </div>
      <div class="title-wrapper">
        <span class="result-title">あなたのスケジュールに合わせた最適なエクササイズを自動で表示！</span>
      </div>
    </li>
    <li class="result">
      <div class="result-numbers">
        <span class="result-number">3</span>
      </div>
      <div class="title-wrapper">
        <span class="result-title">毎日新しいエクササイズに挑戦出来るから毎日が新鮮！</span>
      </div>
    </li>
    <li class="result">
      <div class="result-numbers">
        <span class="result-number">4</span>
      </div>
      <div class="title-wrapper">
        <span class="result-title">同じ目的を持った仲間と繋がってモチベーションアップ！</span>
      </div>
    </li>
    <li class="result">
      <div class="result-numbers">
        <span class="result-number">5</span>
      </div>
      <div class="title-wrapper">
        <span class="result-title">トレーニングを継続するほどあなたのペットが進化！毎日をより楽しく！</span>
      </div>
    </li>
  </ul>
</div>

<div class="banner">
  <%= image_tag 'バナー画像.png', class: "banner-image" %>
</div>

<%= search_form_for(@q, url: exercises_path, local: true) do |f| %>
  <div class="search-exercise">
    <div class="user-content today-exercise-show new-exercise">
      <div class="content exercise_content">
        <h1>エクササイズを探してみる</h1>
        <div class="search-form">
          <div class="exercise_info">
            <%= f.label :level, "Level", {class: "form-label"} %>
            <%= f.select :level_eq, options_for_select([1, 2, 3]), {include_blank: true},
                {class: "form-control"} %>
            <%= f.label :part, "Part", {class: "form-label"} %>
            <%= f.select :part_eq, options_for_select(["二の腕", "お腹", "胸", "足"]), {include_blank: true},
                {class: "form-control"} %>
          </div>
          <div class="exercise-finish">
            <%= f.submit '検索', class: 'btn btn-warning btn-color' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="banner-index">
  <div class="user-content exercise-show">
    <div class="show_wrapper other_show">
      <div class="title_style">
        <h2 class="title"><i class="fas fa-angle-right space"></i>みんなのエクササイズ</h2>
        <%= link_to new_exercise_path, class: "link" do %>
          <i class="fa fa-edit" aria-hidden="true"></i>
          <span class="pc_character">エクササイズを追加</span>
          <span class="smart_character">追加</span>
        <% end %>
      </div>
      <div class="content_hidden">
        <div class="content_show">
          <% if @exercises.empty? %>
            <p>まだ登録されたエクササイズはありません</p>
          <% else %>
            <% @exercises.each do |exercise| %>
              <div class="content exercise_content">
                <div class="exercise_info">
                  <span class="level">
                    <% exercise.level.times do %>
                      <i class="fas fa-dumbbell"></i>
                    <% end %>
                  </span>
                  <%= exercise.part %>
                </div>
                <div class="iframe_wrap">
                  <iframe width="400" height="225" src="https://www.youtube.com/embed/<%= exercise.url.last(11) %>"
                          frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                          gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                </div>
                <div class="exercise_edit">
                  <div class="exercise-edit-menu">
                  </div>
                  <div class="edit-menu">
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="user-content index-diary margin-top">
    <div class="show_wrapper">
      <div class="title_style">
        <h2 class="title"><i class="fas fa-angle-right space"></i>みんなの日記</h2>
          <%= link_to new_diary_path, class: "link" do %>
            <i class="fa fa-edit" aria-hidden="true"></i>
            <span class="pc_character">日記を投稿</span>
            <span class="smart_character">投稿</span>
          <% end %>
      </div>
      <div class="content_show">
        <% @diaries.each do |diary| %>
          <div class="content">
            <%= link_to user_path(diary.user.id), class: "link" do %>
              <div class="diary_user">
                <div class="user_icon">
                  <% if diary.user.image? %>
                    <%= image_tag diary.user.image_url(:thumb30), class: "user_icon_tag" %>
                  <% else %>
                    <%= image_tag 'user_image.png', :size =>'30x30', class: "user_icon_tag" %>
                  <% end %>
                </div>
                <div class="user_name">
                  <%= diary.user.name %>
                </div>
              </div>
            <% end %>
            <%= link_to diary_path(diary), class: "link" do %>
              <img src="<%= diary.image %>" class="diary_image" alt="日記画像">
              <li class="diary_content"><%= diary.content %></li>
            <% end %>
            <div class="diary_info">
              <div class="diary_like">
                <i class="fa fa-heart heart_red" aria-hidden="true"></i>
                <%= diary.likes.count %>
              </div>
              <div class="diary_day">
                <%= l diary.created_at %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "他の日記もみる", diaries_path, class: "link other-diary btn btn-warning btn-color" %>
    </div>
  </div>
</div>
