<h1>Today Exercise</h1>
<% if @today_exercise.empty? %>
  <div>
  本日登録されたエクササイズはありません
  </div>
<% else %>
  <div>
    Part : <%= @today_exercise[0][:part] %>
  </div>
  <div>
    Level : <%= @today_exercise[0][:level] %>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @today_exercise[0][:url].last(11) %>"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
<% end %>

<%= link_to "新規エクササイズ登録はこちらから", new_exercise_path, class: "" %>
<div>
  <%= link_to "日記投稿", new_diary_path %>
</div>
