<!DOCTYPE html>
<html>
  <head>
    <title>TrainingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="wrapper">
      <div class="header">
        <p ><%= link_to "LAVA", root_path, class: "header-logo" %></p>
        <ul class="lists">
          <% if user_signed_in? %>
            <li><%= link_to "エクササイズ", "#", class: "list" %></li>
            <li><%= link_to "日記記録", "#", class: "list" %></li>
            <li><%= link_to "スケジュール", "#", class: "list" %></li>
            <li><%= link_to "マイページ", "#", class: "list" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "list list-border" %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path, class: "list" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "list list-border" %></li>
          <% end %>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
