<!DOCTYPE html>
<html>
  <head>
    <title>TrainingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>
    <%= javascript_include_tag 'style/header.js' %>
    <% if notice.present? || alert.present? %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="wrapper">
      <div class="header">
        <div><%= link_to "LAVA", root_path, class: "header-logo" %></div>
        <ul class="lists">
          <% if user_signed_in? %>
            <li><%= link_to "エクササイズ", exercise_path(current_user.id), class: "list" %></li>
            <li><%= link_to "日記一覧", diaries_path, class: "list" %></li>
            <li><%= link_to "スケジュール", schedules_path, class: "list" %></li>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "list" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "list list-border" %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path, class: "list" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "list list-border" %></li>
          <% end %>
        </ul>
        <nav class="sp-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "エクササイズ", exercise_path(current_user.id), class: "nav_list" %></li>
              <li><%= link_to "日記一覧", diaries_path, class: "nav_list" %></li>
              <li><%= link_to "スケジュール", schedules_path, class: "nav_list" %></li>
              <li><%= link_to "マイページ", user_path(current_user.id), class: "nav_list" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav_list" %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path, class: "nav_list" %></li>
              <li><%= link_to "ログイン", new_user_session_path, class: "nav_list" %></li>
            <% end %>
              <li class="close"><span>閉じる</span></li>
          </ul>
        </nav>
        <div class="hamburger">
          <span></span>
        </div>
      </div>
      <div class="body">
        <%= yield %>
      </div>
      <div class="footer">
        <ul class="lists">
          <li><%= link_to "作者紹介", "#", class: "list" %></li>
          <li><%= link_to "ご要望・お問い合わせ", "#", class: "list list-border" %></li>
        </ul>
        <p class="copyright">Copyright ©︎TETSURO ISHIBASHI All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>
