<%= javascript_include_tag 'style/form.height.js' %>
<%= javascript_include_tag 'style/image_preview.js' %>
<div class="form-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-for"}) do |f| %>
    <h2 class="form-title">アカウントの作成</h2>
    <div class="sign-up">

      <div class="field file-field">
        <%= f.label :image, {class: "hidden_file"} %><br/>
        <%= f.file_field :image, id: "upfile", class: "form-control hidden_file", accept: 'image/jpeg,image/gif,image/png' %>
        <div class="prev-contents">
          <div class="prev-content">
            <%= image_tag 'user_image.png', :size =>'70x70', class: "prev-image", onClick:"$('#upfile').click()" %>
          </div>
        </div>
        <%= render "users/shared/error_message", model: :image %>
      </div>

      <div class="field">
        <%= f.label :name, "ユーザー名（必須）" %><br />
        <%= f.text_field :name, class: "form-control",
            autocomplete: "name", placeholder: "15文字以下で入力してください" %>
        <%= render "users/shared/error_message", model: :name %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス（必須）" %><br />
        <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
      <%= render "users/shared/error_message", model: :email %>
      </div>

      <div class="password-wrapper">
        <div class="password-info-label">
          <%= "パスワード（必須）" %><span>半角6~12文字英大文字・小文字・数字を含む<span>
        </div>
        <div class="field">
          <div class="password-field">
            <%= f.label :password, {class: "password-label"} %>
            <%= f.password_field :password, class: "form-control password-form-control",
                autocomplete: "new-password", placeholder: "パスワード" %>
            <%= f.label :password_confirmation, {class: "password-label"} %>
            <%= f.password_field :password_confirmation, class: "form-control password-form-control",
                autocomplete: "new-password", placeholder: "確認用" %>
          </div>
          <%= render "users/shared/error_message", model: :password %>
          <%= render "users/shared/error_message", model: :password_confirmation %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: "btn btn-primary submit" %>
        <%= link_to "ログインはこちらから", new_user_session_path, class: "login-link" %>
      </div>
    </div>
  <% end %>
</div>
